@media only screen and (min-width: 320px) {
    .div-mainCovid19Data {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .div-mainCovid19Data #img-loading-gif {
            height: 60px;
            width: 60px;
            align-self: center;
        }

        .div-mainCovid19Data h3, .div-mainCovid19Data p {
            display: block;
            text-align: center;
        }

        .div-mainCovid19Data ul {
            list-style: none;
            text-align: center;
        }
}