* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: #15202B;
}

@media only screen and (min-width: 320px) {
  #root {
    display: flex;
    flex-direction: column;
    padding: 30px;
    position: absolute;
    width: 100%;
    justify-content: center;
    color: #63DF21;
    font-size: 18px;
    font-weight: 600;
    font-family: 'montserrat';
  }
}
